/*
Yay CSS Comments
Blah blah
*/

.all{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.content{

}

.grid{
  display: grid;

  grid-template-areas:
  "one two three four";

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: .5em;
  grid-column-gap: .5em;

  height: 7vh;
  margin: 0px;
}

div{
  padding: 0em;
}

/*
two
*/
.dropShop{
  background-color: #42f5aa;
  text-align: center;
  padding: 1.5vh;
}

.shop-content{
  display: none;
  position: absolute;
  background-color: #42f5aa;
  min-width: 160px;
  z-index: 1;
}

.shop-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.shop-content a:hover {background-color: #ddd;}

.two:hover .shop-content {display: block;}

.two:hover .dropShop {background-color: #3e8e41;}

/*
three
*/

.dropMicrosoft{
  background-color: #42f5aa;
  text-align: center;
  padding: 1.5vh;
}

.microsoft-content{
  display: none;
  position: absolute;
  background-color: #42f5aa;
  min-width: 160px;
  z-index: 1;
}

.microsoft-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.microsoft-content a:hover {background-color: #ddd;}

.three:hover .microsoft-content {display: block;}

.three:hover .dropMicrosoft {background-color: #3e8e41;}

.map{
  left: 100px;
}

.one{
  grid-area: one;
  background-color: #42f5aa;
  text-align: center;
  padding: 35px;
}

.two{
  grid-area: two;
  background-color: #42f5aa;
  text-align: center;
  padding: 35px;
}

.three{
  grid-area: three;
  background-color: #42f5aa;
  text-align: center;
  padding: 35px;
}

.four{
  grid-area: four;
  background-color: #42f5aa;
  text-align: center;
  padding: 35px;
}

.five{
  grid-area: five;
  background-color: #42f5aa;
  text-align: center;
  padding: 35px;
}

.show{
  display: block;
}

.show2{
  display: block;
}

.contents{
  border:1px solid black;
  background-color:white;
  height:1000px;
  position:absolute;
  left:000px;
  right:000px;
  top:460px;
}


footer{
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    top: 1000px;
    padding: 2rem;
    background: #252525;
    color: white;
}

.footer_wrapper{
    display: flex;
    justify-content:  space-between;
    align-items: left;
    flex-wrap: wrap;
    max-width: 2000px;
    width: 100%;
    margin: auto;
    margin: 0 3.5rem 0 3.5rem;
}

.link_footer{
    text-decoration: underline;

}

.footer_wrapper a{
    color: white;
}
.footer_wrapper a:hover{
    text-decoration-style: wavy;
}

.footer_right{
    text-align: right;
}